.uploaded-files-container {
  margin-top: 2rem;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;

      .date {
        color: #666;
        font-size: 0.875rem;
      }
    }
  }

  .error {
    color: red;
  }
}
